@use "colors" as *;

.wrapper {
	margin: 0 auto;
	width: min(100%, 1200px);
}

//nav

.nav-desktop {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: $pure-white;
	z-index: 1000;

	&__items {
		display: none;
	}

	&__item {
		display: flex;
		align-items: center;
		padding: 0 1.25em;
		height: 100%;
		font-size: 1.8rem;
		transition: background-color 0.3s, color 0.3s;
		cursor: pointer;

		&:hover {
			background-color: $black;
			color: $creme-white;
		}
	}

	.navbar {
		position: relative;
		display: flex;
		justify-content: space-between;
		height: 100%;
		height: 80px;

		&__home-link {
			text-decoration: none;
			color: $black;

			.company-logo {
				display: flex;
				align-items: center;
				padding: 1em;

				&__name {
					font-family: "Open Sans", sans-serif;
					text-align: center;
					transition: color 0.3s;

					&-upper {
						font-size: 1.6rem;
						font-weight: 200;
					}

					&-lower {
						font-weight: bold;
					}
				}

				&__icon {
					transition: transform 0.3s;
					img {
						margin-left: 0.25em;
						margin-top: 0.3em;
						width: 35px;
						height: 35px;
					}
				}
			}

			&:hover p {
				color: rgb(143, 143, 143);
			}

			&:hover .company-logo__icon {
				transform: rotate(90deg) translateY(-20px);
			}
		}

		.hamburger {
			padding: 1.5em;
		}
	}
}

.nav-mobile {
	position: fixed;
	margin-top: 80px;
	width: 100%;
	z-index: 20;

	&__items {
		position: relative;
		background-color: $pure-white;
		transform: translateY(-400px);
		transition: transform 0.7s;
		z-index: 1;
	}

	&-link {
		text-decoration: none;
		color: $black;
		height: 100%;
	}

	&__item {
		padding: 1em;
		font-family: "Open Sans", sans-serif;
		border-top: 1px solid rgb(127, 127, 127);
	}

	.show-nav {
		transform: translateY(0);
	}
}

//header

.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100dvh;
	min-height: 100vh;
	width: 100%;
	background-image: url("../img/header-img.jpg");
	background-position: 30% 70%;
	background-size: cover;
	background-repeat: no-repeat;
	filter: grayscale(1);

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&-title {
			padding: 0 1em;
			font-family: "Raleway", sans-serif;
			text-align: center;
			letter-spacing: 2px;
			font-weight: 200;
			color: $pure-white;

			span {
				font-weight: 400;
			}
		}

		&-underline {
			margin-top: 1em;
			height: 1px;
			width: 60%;
			background-color: $pure-white;
			border: none;
		}

		&-text {
			display: none;
		}

		&-button {
			position: absolute;
			bottom: 2.5em;
			padding: 1.5em 1em;
			border-radius: 8px;
			text-decoration: none;
			background-color: rgba(255, 255, 255, 0.1);
			border: 2px solid rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(25px);
			color: $pure-white;
			font-family: "Raleway", sans-serif;
			letter-spacing: 2px;
			cursor: pointer;
			text-transform: uppercase;
			transition: background-color 0.3s, transform 0.3s;

			&:hover {
				background-color: rgba(255, 255, 255, 0.2);
				transform: scale(0.95);
			}
		}
	}

	&__shadow {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -5;
	}
}

//main
.main {
	.waves-container {
		position: relative;
		overflow: hidden;
	}

	.section {
		padding: 3em 2em;
	}

	.section-heading {
		text-align: center;
		text-transform: uppercase;
		font-size: 2.5rem;
		font-weight: 400;
		letter-spacing: 1px;
		font-family: "Raleway", sans-serif;
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		grid-template-rows: 16px 0;
		grid-gap: 22px;

		&:after,
		&:before {
			content: "";
			display: block;
			border-bottom: 2px solid #ccc;
			background-color: #f0f0f0;
		}
	}

	.subsection-heading {
		margin-top: 1.5em;
		font-size: 1.8rem;
		letter-spacing: 1px;
		text-align: center;
		font-weight: bold;
	}

	.about-us {
		&__description {
			padding: 1em 2em;
			line-height: 1.6em;
			font-weight: 200;
			text-align: justify;
		}

		.treatments-box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: #e6e5e5;
			margin: 1.5em 0 4em 0;
			padding: 2em 1.5em;

			&-title {
				margin: 0.5em 0;
				font-family: "Raleway", sans-serif;
				font-size: 3.2rem;
				font-weight: 400;
				color: $creme-white;
				text-transform: uppercase;
			}

			&-description {
				color: $creme-white;
				font-size: 2rem;
				font-weight: 200;
				text-transform: uppercase;
				text-align: center;
			}

			&__haircut,
			&__coloring,
			&__care {
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				min-height: 420px;
				padding: 1em;
				margin: 1em;
				width: 100%;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				transition: filter 0.5s;
				filter: grayscale(1);

				&:hover {
					filter: grayscale(0);
				}

				img {
					width: 80px;
					height: 80px;
				}
			}

			&__haircut {
				background-image: url("../img/haircut.jpg");
			}

			&__coloring {
				background-image: url("../img/coloring.jpg");
			}

			&__care {
				background-image: url("../img/care.jpg");
			}

			.shadow {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.5);
				z-index: -5;
			}

			.short-underline {
				height: 1px;
				width: 20%;
				background-color: $creme-white;
			}
		}

		.advantages-box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex-wrap: nowrap;
			padding: 2em;

			&__card {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
				font-size: 1.6rem;
				font-weight: 200;
				padding: 2em;
				transition: transform 0.4s;

				&:hover {
					transform: scale(1.1);
				}

				img {
					margin-bottom: 0.5em;
					width: 55px;
					height: 55px;
				}
			}
		}
	}

	.gallery {
		position: relative;
		margin-top: 3em;

		.img-gallery {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
			grid-gap: 2.5em;
			margin: 3em auto 1em;
			width: 100%;

			img {
				width: 100%;
				background-position: center;
				background-size: cover;
				border-radius: 6px;
				box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
				transition: transform 0.4s, filter 0.5s;
				filter: grayscale(1);
				cursor: pointer;
			}

			img:hover {
				transform: scale(1.05);
				filter: grayscale(0);
			}
		}

		.full-img {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: none;
			justify-content: center;
			align-items: center;
			width: 100%;
			min-height: calc(100vh - 80px);
			min-height: calc(100vh - 80px);
			background-color: rgba(0, 0, 0, 0.9);
			z-index: 2000;

			.closing-x {
				position: absolute;
				top: 20px;
				right: 20px;
				width: 50px;
				height: 50px;
				cursor: pointer;
			}
		}

		.full-img img {
			width: 90%;
			max-width: 500px;
		}
	}
}
