@use "colors" as *;

.wrapper {
	margin: 0 auto;
	width: min(100%, 1200px);
}

//nav

.nav {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	width: 100%;
	background-color: antiquewhite;

	.wrapper {
		display: flex;
	}

	.company-logo {
		display: flex;
		align-items: center;

		&__name {
		}

		&__icon {
			img {
				width: 35px;
				height: 35px;
			}
		}
	}
}
