@use "colors" as *;

@media (min-width: 768px) {
	.nav-mobile {
		&__item {
			padding: 1.25em;
		}
	}

	.header {
		&__container {
			&-title {
				padding: 0 2em;
				font-size: 5rem;
				letter-spacing: 3px;
			}

			&-button {
				bottom: 3em;
				padding: 1.5em;
				font-size: 1.6rem;
			}
		}
	}

	.main {
		.section-heading {
			font-size: 2.8rem;
		}

		.subsection-heading {
			font-size: 2.2rem;
		}

		.about-us {
			&__description {
				font-size: 2rem;
			}

			.treatments-box {
				&-title {
					font-size: 4rem;
				}

				&-description {
					font-size: 2.2rem;
				}
			}

			.advantages-box {
				flex-direction: row;
				flex-wrap: wrap;
			}
		}
	}

	
}

@media (min-width: 992px) {
	.nav-desktop {
		&__items {
			display: flex;
			justify-content: center;
			align-items: center;
			list-style: none;
		}

		.navbar {
			.hamburger {
				display: none;
			}
		}
	}

	.nav-mobile {
		display: none;
	}

	.header {
		background-position: 30% 40%;

		&__container {
			&-text {
				display: block;
				margin-top: 1em;
				width: 50%;
				text-align: center;
				font-weight: 200;
				font-size: 2.1rem;
				line-height: 1.7em;
				color: $creme-white;
			}
		}
	}

	.main {
		.section-heading {
			font-size: 2.8rem;
		}

		.subsection-heading {
			font-size: 2.2rem;
		}

		.about-us {
			margin-top: -8em;

			&__description {
				font-size: 2rem;
			}

			.treatments-box {
				flex-direction: row;
				margin-top: 8em;
				padding: 0;

				&-title {
					font-size: 3.8rem;
				}

				&-description {
					font-size: 2rem;
				}

				&__haircut,
				&__coloring,
				&__care {
					margin: 0;
					padding: 0;
				}
			}

			.advantages-box {
				&__card {
					flex: 0 0 calc(33.33% - 20px);
					padding: 1.5em;
				}
			}
		}

		.gallery {
			.img-gallery {
				.delete-filter {
					filter: grayscale(1);
				}
			}

			.bg-icon, .bg-icon2 {
				display: block;
			}
		}
	}
}
